/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.app-title {
  font-weight: bold;
  margin: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.remove-button,
.process-button {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-top: 10px;
}

.upload-button-label:hover,
.remove-button:hover,
.process-button:hover {
  background-color: #258e2c;
}

/* Add these styles to your existing CSS */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.resized-image {
  max-width: 380px;
  max-height: 620px;
  width: auto;
  height: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.comparison-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.comparison-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.comparison-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.comparison-image {
  text-align: center;
  margin-right: 20px;
}

.comparison-image:last-child {
  margin-right: 0;
}

.comparison-image p {
  font-weight: bold;
  margin-bottom: 10px;
}

.comparison-image img {
  max-width: 100%;
  height: auto;
}

.select-image-text {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  color: #0088f0;
}

/* Styles for the drag-and-drop area */
.drop-area {
  border: 2px dashed #bcbcbc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.drop-area p {
  margin: 0;
}

.drop-area:hover {
  background-color: #f4f4f4;
}

.custom-link-styles {
  color: black
}

/* styles.css or your custom CSS file */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* You can adjust the background color and opacity as needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Adjust the z-index to ensure it's above other content */
}

.loading-container {
  display: flex;
  flex-direction: column; /* Display children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.loading-text {
  margin-top: 10px; /* Adjust the margin to control the spacing between spinner and text */
  font-size: 16px; /* Adjust the font size as needed */
  /* Other text styles */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Adjust the background color and opacity for the dimming effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Adjust the z-index to ensure it's above other content */
}
.blur-background {
  filter: blur(1px); /* Adjust the blur amount as needed */
  pointer-events: none; /* Allow interactions with elements behind the blur */
}