/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.app-title {
  font-weight: bold;
  margin: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.remove-button,
.process-button {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-top: 10px;
}

.upload-button-label:hover,
.remove-button:hover,
.process-button:hover {
  background-color: #258e2c;
}

/* Add these styles to your existing CSS */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.resized-image {
  max-width: 380px;
  max-height: 620px;
  width: auto;
  height: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.comparison-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.comparison-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.comparison-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.comparison-image {
  text-align: center;
  margin-right: 20px;
}

.comparison-image:last-child {
  margin-right: 0;
}

.comparison-image p {
  font-weight: bold;
  margin-bottom: 10px;
}

.comparison-image img {
  max-width: 100%;
  height: auto;
}

.select-image-text {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  color: #0088f0;
}

/* Styles for the drag-and-drop area */
.drop-area {
  border: 2px dashed #bcbcbc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.drop-area p {
  margin: 0;
}

.drop-area:hover {
  background-color: #f4f4f4;
}
