/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.app-title {
  font-weight: bold;
  margin: 0;
}

.image-container {
  display: flex;
  flex-direction: column; /* Change to column to stack items vertically */
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 10px 0; /* Add margin to separate the images vertically */
}

/* Style for the button container */
.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust as needed */
}

.upload-button-label{
  background-color: #7dcd5d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-top: 10px;
}

.remove-button,
.process-button {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-top: 10px;
}

.upload-button-label:hover,
.remove-button:hover,
.process-button:hover {
  background-color: #258e2c;
}

.upload-button-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.remove-button {
  margin-top: 10px;
}

.process-button {
  background-color: #989898;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Add a fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Set maximum width and height for the image */
.resized-image {
  max-width: 480px;
  max-height: 720px;
  width: auto;
  height: auto;
}

.responsive-image {
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  height: auto;    /* Allow the height to adjust proportionally */
}
